<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>by.epam.project.controller.listener.ServletListenerImpl</listener-class>
    </listener>
    <listener>
        <listener-class>by.epam.project.controller.listener.SessionListenerImpl</listener-class>
    </listener>
    <servlet>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>by.epam.project.controller.Controller</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>/WEB-INF/classes/Log4J.properties</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ServletSecurityFilter</filter-name>
        <servlet-name>ProjectServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageRedirectSecurityFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>admin</param-name>
        <param-value>groukhelena@gmail.com</param-value>
    </context-param>
    <filter>
        <filter-name>ServletSecurityFilter</filter-name>
        <filter-class>by.epam.project.filter.ServletSecurityFilter</filter-class>
        <init-param>
            <param-name>GUEST_PATH</param-name>
            <param-value>/WEB-INF/jsp/guest.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>by.epam.project.filter.LocaleFilter</filter-class>
        <init-param>
            <param-name>DEF_COUNTRY</param-name>
            <param-value>EN</param-value>
        </init-param>
        <init-param>
            <param-name>DEF_LANGUAGE</param-name>
            <param-value>EN</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.epam.project.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>PageRedirectSecurityFilter</filter-name>
        <filter-class>by.epam.project.filter.PageRedirectSecurityFilter</filter-class>
        <init-param>
            <param-name>INDEX_PATH</param-name>
            <param-value>/index.jsp</param-value>
        </init-param>
    </filter>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>by.epam.project.exception.DaoUserLogicException</exception-type>
        <location>/WEB-INF/jsp/errorDao.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <description>Header and footer settings</description>
            <display-name>main</display-name>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/jsp/*</url-pattern>
            <el-ignored>false</el-ignored>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>fragm</display-name>
            <url-pattern>/WEB-INF/other/*</url-pattern>
        </jsp-property-group>
    </jsp-config>
</web-app>
