/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.09.2014, 14:50:52
    Author     : User
*/

html {
    padding-top: 25px;
    background-image: url("../images/fon4.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    width: 80%;
    height: 90%;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    background: url("../images/fon42.jpeg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
li {
    list-style-position: inside;
}



#header {
    text-align: center;
    height: 70px;
}

#footer {
    clear: both;
    height: 20px;
    clear: left;
    margin-bottom: 10px;
}
#footerText{
    float: right;
    font-family: 'American Typewriter', Courier, monospace;   
    font-size: 15px;
    color: #666666;
}

#main { 
    float: left;
    background-color: #edf8f7;
    width: 100%;
    height: auto;
    min-height: 500px;
}

#logoText {
    float: left;
    /* font styles apply to text within img alt attribute */
    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 4px 4px 3px #666;
    color: red
}

#erNote {
    font-size: 15px;
    color:rgb(255,62,62);
}

#h_r_container {
    height: 20px;
    float: right;
    color: initial;
}

#leng_container {
    width: 100px;
}

#login_container {
    width: 240px;
}

#menu {
    border: 2px solid lightskyblue;
    height: 30px;
    background-color: powderblue;
    padding: 15px;
    
}

#menuText {
    height: 50px;
    color: blue;
    border: 2px outset navy;
    border-radius: .5em;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    background-color: paleturquoise;
}

.menuHref {
    font-family: 'League Gotic', Arial, sans-serif;
    text-shadow: 4px 4px 3px #666;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

#menuText:hover {
    background-color: aqua;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.container {
    
    width: 100%; 
    height: 100%; 
    overflow-y: scroll; 
    background-color: paleturquoise;
}

.leftColumn {
    float: left;
    border:2px solid #ccc; 
    
    min-height: 400px;
    min-width: 100px;
    width: 20%;
    height: 100%;
}

.rigthColumn {
    float: right;
    border:2px solid #ccc; 
    
    min-height: 400px;
    min-width: 100px;
    width: 20%;
    height: 100%;
}

.centerColumn {
    width: 58%;
    min-width: 200px;
    float: left; 
    height: 100%;
}
.innerColumn {
    padding: 15px;
}
.currimg {
    width: 600px;
    height: auto;
    float: left;
    margin: 20px;
}

.cueetext {
    text-align:justify;
    
}

.parameterRow {
    
    width: 98%;
    min-height: 60px;
    height: auto;
    float: left;
}

.labelColumn {
    float: left;
    width: 30%;
}

.inputColumn {
    float: left;
    width: 68%;
    
}

.labelH {
    font-family: 'League Gotic', Arial, sans-serif;
    text-shadow: 2px 2px 1px #ccc;
    font-weight: bold;
    font-size: 17px;
    color: darkmagenta;
    padding: 8px 10px 8px 15px;
    text-align:right;
}

.inputLineContainer {
    font-family: 'League Gotic', Arial, sans-serif;
    font-size: 17px;
    padding: 5px 5px 5px 5px;
    text-align:left;
    width: 250px;
}

.inputMultilineineContainer {
    font-family: 'League Gotic', Arial, sans-serif;
    font-size: 17px;
    padding: 5px 5px 5px 5px;
    text-align:justify;
    width: 97%;
    height: auto;
    min-height: 250px;
}

.selectContainer {
    font-size: 17px;
    width: 250px; 
    height: 100%; 
    overflow-y: scroll; 
    background-color: paleturquoise;
}

.selectItem {
    font-family: 'League Gotic', Arial, sans-serif;
    font-size: 17px;
    padding: 5px 5px 5px 5px;
    text-align:left;
    text-decoration: none;
}

.centrale {
    position: relative;
    left: 45%;
    top: 10px;
}

.centraleContainer {
    position: relative;
    left: 25%;
    width: 75%;
    
    
}

.checkBoxGroup {
    width: 70%;
    height: 100px;
    float: left;
    overflow-y: scroll; 
    border: 2px outset navy;
    border-radius: .5em;
    margin: 0px 30px 0px 80px;
    padding-left: 10px;
}

.tagColumn {
    float: left;
    width: 30%;
    
    padding: 0px 15px 15px 15px;
}

.labelHT {
    font-family: 'League Gotic', Arial, sans-serif;
    text-shadow: 2px 2px 1px #ccc;
    font-weight: bold;
    font-size: 17px;
    color: darkmagenta;
    text-align: center;
}






#prompt-form {
  display: inline-block;
  padding: 5px 5px 5px 70px;
  width: 200px;
  border: 1px solid black;
  background: white url(prompt.png) no-repeat left 5px;
  vertical-align: middle;
}

#prompt-form-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

#prompt-form-container:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

#cover-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

#prompt-form input[name="text"] {
  display: block;
  margin: 5px;
  width: 180px;
}

.checkBoxGroup2{
    width: 75%;
    height: 150px;  
    overflow-y: scroll; 
    border: 2px outset navy;
    border-radius: .5em;
    margin-left: 15%;
    padding-left: 10px;
    float: inside;
}

.tagColumnS {
    float: left;
    width: 35%;
    
    padding: 0px 15px 15px 15px;
}
.tagColumnM {
    float: left;
    width: 60%;
    
    padding: 0px 15px 15px 15px;
}

.tagColumnL {
    float: left;
    width: 45%;
    
    padding: 0px 15px 15px 15px;
}

.centraleContainerS {
    position: relative;
    left: 10%;
    width: 75%;
    
    
}
.centraleContainerB {
    position: relative;
    left: 30%;
    width: 75%;
    
    
}

.parameterRowB {
    border: 2px outset navy;
    border-radius: .5em;
    width: 98%;
    min-height: 60px;
    height: auto;
    float: left;
}

.inputLineContainerM {
    font-family: "League Gotic",Arial,sans-serif;
    font-size: 17px;
    padding: 5px;
    text-align: left;
    width: 100%;
}

.inputMultilineineContainerB {
    font-family: 'League Gotic', Arial, sans-serif;
    font-size: 17px;
    padding: 5px 5px 5px 5px;
    text-align:justify;
    width: 97%;
    height: auto;
    min-height: 100px;
}

.inputMultilineineContainerD {
    font-family: 'League Gotic', Arial, sans-serif;
    font-size: 17px;
    padding: 5px 5px 5px 5px;
    text-align:justify;
    width: 97%;
    height: auto;
    min-height: 100px;
}

.labelColumnS {
    float: left;
    width: 20%;
}
.inputColumnL {
    float: left;
    width: 78%;
}

.smallimg {
    width: 150px;
    height: auto;
    float: left;
    margin: 20px;
}