<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="FinalProjectPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>by.epam.project.entity.Country</class>
    <class>by.epam.project.entity.City</class>
    <class>by.epam.project.entity.Description</class>
    <class>by.epam.project.entity.Hotel</class>
    <class>by.epam.project.entity.DirectionStayHotels</class>
    <class>by.epam.project.entity.TourType</class>
    <class>by.epam.project.entity.TransportationMode</class>
    <class>by.epam.project.entity.Tour</class>
    <class>by.epam.project.entity.Direction_1</class>
    <class>by.epam.project.entity.Direction</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/newdb"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="1111"/>
    </properties>
  </persistence-unit>
</persistence>
